{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "hello", "1",
        [
         kernel,
         stdlib,
         sasl,
         hello
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "hello"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, hello, [{incl_cond, include}]}
      ]}.

{target_dir, "hello"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/hello", "bin/hello"},
           {template, "files/hello-admin", "bin/hello-admin"}
           ]}.
